html {
    min-width: 440px;
}

#search
{
	max-width: 950px;
	margin: 30px auto; 
}

.search-cost
{
	margin-left: 0px;
	vertical-align: middle;
}

#search-opt
{
	display: none;
}

#map
{
	width: 100%;
	height: 800px;
}

.big_icon {
	padding-top: 30px;
	text-align:center;
	font-size: 48px;
	/*line-height: 72px;*/
	color: #333;
}

.srch_txt {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.pointer {
    cursor: pointer;    
}

.center {
    text-align: center;
}


#registration {
    margin: 30px auto; 
}

#registrationSitySearch {
    position: relative;
    top: 22px;
}

#sendRegiseration {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.none {
    display: none;
}


dl.prop-list-150 dt {
    width: 150px;
}

dl.prop-list-150 dd {
    margin: 0 0 0 160px;
}

dl.prop-list-200 dt {
    width: 200px;
}

dl.prop-list-200 dd {
    margin: 0 0 0 210px;
}

#slider {
    margin-top: 20px;
}

.withoutMarginBottom {
    margin-bottom: 0;
}

.absoluteElement {
    position: absolute;
    z-index: 10;
}

.listInfo {
    position: relative;
    float: left;
    padding-right: 2em;
}
.listInfo.withMinHeight {
    min-height: 120px;
}

.maxWidth130 {
    width: 130px;
}
.maxWidth180 {
    width: 180px;
}

.priceIcon {
     width: 12px;
 }

.listInfoIcon {
    height: 26px;
}

.vkIcon {
    height: 20px;
}

.listInfo a {
    text-decoration: underline;
}

.detailsArea {
    width: 345px;
}

.detailsInfo {
    max-width: 500px;
    max-height: 100px;
    overflow-y: auto;
}

.vk_load {
    width: 180px !important;
    height: 100px !important;
}

.smallAvatar {
    float: left;
    width: 50px;
    height: 50px;
    padding-right: 4px;
    padding-bottom: 4px;
}

#mapContainer > div:first-child > div:first-child
{
    margin: 5px auto auto 5px;
}

#ticketList {
    margin-top: 60px;
}

@media (max-width: 490px)
{
    #mapContainer > div:first-child > div:first-child
    {
        text-align: center;
        margin: 0;
        top: -50px;
        left: 0px;
        width: 100%;
    }

    #mapContainer
    {
        position: relative;
        margin-top: 70px;
    }

    #ticketList
    {
        margin-top: 0;
    }
}