﻿@using Roommates.DataLayer.Model
@model List<Ticket>

@{
    ViewBag.Title = "Тест тикетов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a href="@Url.Action("AddRandomTicket")">Добавить случайный тикет</a>
</div>

<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    PersonId
                </th>
                <th>
                    Минимальная цена
                </th>
                <th>
                    Максимальная цена
                </th>
                <th>
                    X
                </th>
                <th>
                    Y
                </th>
                <th>
                    Радиус
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Ticket ticket in Model)
            {
                <tr>
                    <td>
                        @ticket.PersonID
                    </td>
                    <td>
                        @ticket.PriceMin
                    </td>
                    <td>
                        @ticket.PriceMax
                    </td>
                    <td>
                        @ticket.XCoord
                    </td>
                    <td>
                        @ticket.YCoord
                    </td>
                    <td>
                        @ticket.Radius
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>