﻿@using Roommates.WebUI.Models.ConrolsModels
@model SliderModel
@{
    var step = ViewData["step"];
    var sliderMin = ViewData["sliderMin"];
    var sliderMax = ViewData["sliderMax"];
}
<div>
    <div class="form-horizontal">
        <span class="srch_txt"><b>Цена: </b>от</span>
        @Html.TextBoxFor(m => m.PriceMin, new Dictionary<string, object>{{"class", "input-mini"}, {"type", "number"}, {"step", step}, {"max", sliderMax}, {"min", sliderMin}})
        <span class="srch_txt">до </span>
        @Html.TextBoxFor(m => m.PriceMax, new Dictionary<string, object>{{"class", "input-mini"}, {"type", "number"}, {"step", step}, {"max", sliderMax}, {"min", sliderMin}})
        <span class="srch_txt">рублей </span>
    </div>
    <div class="search-element">
        <div id="slider"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#slider").slider({
            range: true,
            min: @sliderMin,
            max: @sliderMax,
            step: @step,
            animate: true,
            values: [@Model.PriceMin, @Model.PriceMax],
            slide: function(event, ui) {
                $("#@Html.IdFor(m => m.PriceMin)").val(ui.values[0]);
                $("#@Html.IdFor(m => m.PriceMin)").change();
                $("#@Html.IdFor(m => m.PriceMax)").val(ui.values[1]);
                $("#@Html.IdFor(m => m.PriceMax)").change();
            }
        });
        
        $("#@Html.IdFor(m => m.PriceMin)").change(function () {
            $("#slider").slider('values', 0, $("#@Html.IdFor(m => m.PriceMin)").attr("value"));
        });

        $("#@Html.IdFor(m => m.PriceMax)").change(function() {
            $("#slider").slider('values', 1, $("#@Html.IdFor(m => m.PriceMax)").attr("value"));
        });
    });
</script>