﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery", "~/bundles/common")
        <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript"></script>
        <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>

        @RenderSection("Headers", false)
    </head>
    <body>
        
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="@Url.Action("Index", "Home")">Руммер</a>
                    
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <div class="nav-collapse collapse">
                        @Html.Partial("CommonMenu")
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>