﻿@{
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<ul class="nav pull-right">
    @{
        string active = "";
    }
    @if (controllerName == "Registration")
    {
        active = " active";
    }   
    <li class="@(active)">
        <a href="@Url.Action("Index", "Registration")"><b>Подать объявление</b></a>
    </li>

    @{
        active = "";
    }
    @if (controllerName == "Home")
    {
        active = " active";
    }
    <li class="@(active)">@Html.ActionLink("Поиск", "Index", "Home")</li>

    @{
        active = "";
    }
    @if (controllerName == "About")
    {
        active = " active";
    }   
    <li hidden="hidden" class="userAuthentificateOn">
        <img id="userPhoto" rel="tooltip"/>
    </li>
    <li class="@(active)">
        <a id="loginButton" class="pointer">Войти <i class='icon-enter' style='font-size:20px;'>&nbsp;</i></a>
    </li> 
    
    
</ul>

<script type="text/javascript">
    $(function () {
        $("#loginButton").bind('click', login);
        if ('@Session["user_id"]' != '' && '@Session["access_token"]' != '') {
            $.ajax({
                url: "https://api.vk.com/method/users.get?uids=@Session["user_id"]&fields=photo&access_token=@Session["access_token"]",
                success: function(data) {
                    if (data.response != null && data.response.length > 0) {
                        $(".userAuthentificateOn").show();
                        $("#userPhoto").attr("src", data.response[0].photo).css({ "height": "40px", "padding-left": "10px" });
                        $("#userPhoto").attr("title", data.response[0].last_name + " " + data.response[0].first_name);
                        $("#userName").text(data.response[0].last_name + " " + data.response[0].first_name);
                        $("#loginButton").html("<i class='icon-exit' style='font-size:20px;margin-left:-5px'></i>");
                        $("#loginButton").unbind('click', login);
                        $("#loginButton").bind('click', logout);
                        
                    }
                },
                dataType: "jsonp"
            });
        }
    });
    
    function logout() {
        $.ajax({
            url: "@Url.Action("LogOut", "VK")",
            type: "GET",
            success: function () {
                $(".userAuthentificateOn").hide();
                $("#loginButton").html("Войти <i class='icon-enter' style='font-size:20px;'>&nbsp;</i>");
                $("#loginButton").unbind('click', logout);
                $("#loginButton").bind('click', login);
            }
        });
    }

    function login() {
        VkAuthentificate("@Url.Action("GetVkAccessCode", "VK", null, Request.Url.Scheme, null)", "@HttpContext.Current.Request.Url.AbsoluteUri");
    }
</script>
