﻿@Model
@{
    ViewBag.Title = "GetVkAccessCode";
}

<h2>GetVkAccessCode</h2>
<script>
    $().ready(function () {
        access_token = "@Model";
        alert(access_token);
        /*$.ajax({
            url: ""https://api.vk.com/method/getProfiles?uid=&access_token="+ access_token 
        });*/
    });
</script>