﻿@model string
@{
    ViewBag.Title = "Index";
    
}


<a href = "https://oauth.vk.com/authorize?client_id=APP_ID&scope=SETTINGS&redirect_uri=REDIRECT_URI&response_type=code" target ="blank"> login </a>
<h2>@Model</h2>
