﻿@using Roommates.Common.Consts
@using Roommates.WebUI.HtmlExtensions
@model Roommates.WebUI.Models.TicketModels.TicketModel
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Headers
{
    <script src="@Url.Content("~/Scripts/ymap.js")" type="text/javascript"></script>
}

<div id="registration">
    <div class="well">
        <div class="row-fluid">
            
            <div class="span4">
                @using (Html.BeginForm("RegisterNewTicket", "Registration", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    <div class="control-group">
                        @Html.LabelFor(m => m.TicketTypes, new Dictionary<string, object> { { "class", "control-label" } })
                        <div class="controls">
                            @Html.RadioButtonForEnum(m => m.TicketTypes, new Dictionary<string, object> { { "class", "control-label" } })
                        </div>
                    </div>
                    <hr />
                    <div id ="house">          
                        <div class="control-group">
                            @Html.LabelFor(m => m.Price, new Dictionary<string, object> { { "class", "control-label" } })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Price, new Dictionary<string, object> { { "class", "input-mini" } })
                                <span class="help-inline">рублей </span>
                            </div>
                        </div>
                    </div>
                    <div id="human">
                        <div>
                            @Html.SliderFor(m => m.SliderPrice)
                        </div>
                    </div>
                    <hr />
                    <div class="control-group">
                        @Html.LabelFor(m => m.Sex, new Dictionary<string, object> { { "class", "control-label" } })
                        <div class="controls">
                            @Html.RadioButtonForEnum(m => m.Sex)
                        </div>
                    </div>
                    <hr />
                    <div class="control-group">
                        @Html.LabelFor(m => m.NeighbourSex, new Dictionary<string, object> { { "class", "control-label" } })
                        <div class="controls">
                            @Html.RadioButtonForEnum(m => m.NeighbourSex)
                        </div>
                    </div>
                    <hr />
                    <div class="control-group">
                        @Html.LabelFor(m => m.PersonsCount, new Dictionary<string, object> { { "class", "control-label" } })
                        <div class="controls">
                            @Html.RadioButtonForEnum(m => m.PersonsCount)
                        </div>
                    </div>
                    <hr />
                    <div class="control-group">
                        <label class="control-label">
                            Кроме того
                        </label>
                        <div class="controls">
                            <label class="checkbox" for="@Html.IdFor(m => m.Smoking)">
                                @Html.CheckBoxFor(m => m.Smoking)
                                @Html.DisplayNameFor(m => m.Smoking)
                            </label>
                            <label class="checkbox" for="@Html.IdFor(m => m.Pets)">
                                @Html.CheckBoxFor(m => m.Pets)
                                @Html.DisplayNameFor(m => m.Pets)
                            </label>
                        </div>
                    </div>
                    <hr />
                    
                    <div>
                        @Html.LabelFor(m => m.Details)
                        <div>
                            @Html.TextAreaFor(m => m.Details, 4, 100, new { @class = "detailsArea" })
                        </div>
                    </div>
                    <hr />
                    
                    @Html.HiddenFor(m => m.XCoord)
                    @Html.HiddenFor(m => m.YCoord)
                    @Html.HiddenFor(m => m.Radius)
                }
            </div>
            <div class="span8">
                <div id="map"> </div>
            </div>
        </div>
        <button class="btn btn-large btn-block" disabled="disabled" id="sendRegiseration" type="submit" onclick="submitForm(this)" >Сохранить объявление</button>
    </div>
</div>

<script type="text/javascript">
    var yandexmap = new YandexMap(onloadYandexMap);
    $(document).ready(function () {
        $("input[name=@Html.IdFor(m => m.TicketTypes)]").change(changeRegistrationType);
        @if (Model.TicketTypes == TicketTypes.Appartment)
        {
            @:selectHouseRegistration();
        }
        else
        {
            @:selectHumanRegistration();
        }
    });
    
    function onloadYandexMap() {
        @if (Model.TicketTypes == TicketTypes.Appartment)
        {
            @:yandexmap.setCurrentFigurePoint();
        }
        else
        {
            @:yandexmap.setCurrentFigureCircle();
        }

        yandexmap.setOnSuccessClick(placeSelect);
    }

    function selectHumanRegistration() {
        $("#human").animate({
            opacity: "show"
        }, 500);
        $("#house").hide();
    }

    function selectHouseRegistration() {
        $("#house").animate({
            opacity: "show"
        }, 500);
        $("#human").hide();
    }

    function placeSelect(searchArea) {
        enableSendButton();
        $("#@Html.IdFor(m => m.XCoord)").val(searchArea.coords[0].toString().replace('.', ','));
        $("#@Html.IdFor(m => m.YCoord)").val(searchArea.coords[1].toString().replace('.', ','));
        $("#@Html.IdFor(m => m.Radius)").val(searchArea.radius);
    }

    function changeRegistrationType() {
        if ($("#human").css('display') == 'none') {
            selectHumanRegistration();
        } else {
            selectHouseRegistration();
        }
        yandexmap.changeOnclickFigure();
        disableSendButton();
    }

    function enableSendButton() {
        $("#sendRegiseration").removeAttr("disabled");
        $("#sendRegiseration").addClass("btn-primary");
    }

    function disableSendButton() {
        $("#sendRegiseration").addClass("disabled");
        $("#sendRegiseration").removeClass("btn-primary");
    }
    
    function submitForm() {
        if ('@Session["user_id"]' == '' || '@Session["access_token"]' == '') {
            VkAuthentificate("@Url.Action("GetVkAccessCode", "VK", null, Request.Url.Scheme, null)", "@Url.Action("RegisterNewTicket", "Registration")?" + $("form").serialize());
        } else {
            $("form").submit();
        }
    }
</script>
